$font-stack: 'Rubik', sans-serif;
$subfont-stack: 'Fira Sans', sans-serif;
$primary-color: #174997;
$primary-transp: rgba(23, 73, 151, .25);
$white-transp: rgba(255,255,255,.25);
$secondary-color: #973C17;
$logo-size: 328px;

body {
  font-family: $font-stack;
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }

  h1 {
    font-family: $font-stack;
    color: $secondary-color;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.nusys-navbar {
  background: $primary-color;
  position: fixed;
  width: 100%;
  z-index: 100;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color; 

      .nav-left {
        float:left;
      }

      li {
        float: right;
        font-family: $font-stack;
        
        a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        a:hover {
          background-color: #629cf7; 
        }
      }
  }
}

.section {
  width: 100%;
  height: auto;
  font-family: $subfont-stack;
  color: $primary-color;
  text-align: center;
  padding: 0;

  .center-image {
    padding: 0;
    padding-top: 120px;
    padding-bottom: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    .center-image-caption {
      padding-top: 25px;
      text-align: center;
      font-size: 18px;
    }
  }

  .info-block {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
    
    a {
      text-decoration: underline;
    }
  }

  h1 {
    padding-top:60px;
    margin:0;
  }

  a {
    color: $primary-color;
  }

  a:visited {
    color: $primary-color;
  }
}

.dotted-rule {
  border-top: 1px dashed $primary-color;
  width: 75%;
  margin-top: 75px;
}

.center-image-sub {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  img {
    max-height: 150px;
    max-width: 200px; 
  }
}

.content {
  background-image: url("../assets/header bg.png");
  background-repeat: repeat-x;
}

#header {
  display: none;
}

.whitetoblue-section {
  background: $white-transp;
  background: -webkit-linear-gradient($white-transp, $primary-transp);
  background: -o-linear-gradient($white-transp, $primary-transp);
  background: -mos-linear-gradient($white-transp, $primary-transp);
  background: linear-gradient($white-transp, $primary-transp);
}

.bluetowhite-section {
  background: $primary-transp;
  background: -webkit-linear-gradient($primary-transp, $white-transp);
  background: -o-linear-gradient($primary-transp, $white-transp);
  background: -mos-linear-gradient($primary-transp, $white-transp);
  background: linear-gradient($primary-transp, $white-transp); 
}

.section-blue {
  background-color: $primary-transp;
  color: $secondary-color;
  font-family: $font-stack;
}

.primary-button {
  background: $primary-color;
  width: 225px;
  height: 50px;
  font-size: 25px;
  font-family: $font-stack;
  color: white;
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;

  p {
    display: block;
  }
}

.dropdown-button {
  background: $primary-transp;
  height: 40px;
  font-size: 18px;
  font-family: $font-stack;
  color: $primary-color;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  text-align: center;

  p {
    display: block;
  }
}

.primary-button:hover {
  background: $primary-transp;
}

.triangle-button {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.down-arrow {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid $primary-transp;
  margin-top: 50px;
}

.image-div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-flow: row wrap;

  .flex-image-3 {
    display: flex;
    margin: 5px;

    img {
      max-height: 200px;
    }
  }

  .flex-image-5 {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-bottom: 10px;

    img {
      max-height: 150px;
      padding-bottom: 5px;
    }
  }
}

/* MOBILE */

@media screen and (max-width: 600px) { 
    .nav-links {
      display: none;
    }

    .nav-links-mobile {
      display: flex;
      height: 48px;
      align-items: center;

      a {
        font-family: $font-stack;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .leftdiv {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: flex-start;

        a:hover {
          background-color: #629cf7; 
        }
      }

      .rightdiv {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
      }

      img {
        max-height: 20px;
      }
    }

    #dropdownmenu {
      display:none;
    }

    .dropdown {
      background: white;
      opacity: .75;

      .dropdown-button:hover {
        background: white;
      }
    }

    .triangle-button {
      display: none;
    }

    .section {
      height: auto;
    }

    .dotted-rule {
      margin-bottom: 0px;
    }

    .section .info-block {
      height: auto;
    }
}


/* DESKTOP */

@media screen and (min-width: 601px) {
    .nav-links-mobile {
      display: none;
    }

    #dropdownmenu {
      display: none;
    }

    .dropdown-button {
      display: none;
    }

    .dropdown {
      display: none;
    }

    .triangle-button {
      display: block;;
    }

    .section {
      height: auto;
    }

    .dotted-rule {
      margin-bottom: 0px;
    }

    .section .info-block {
      // height: 440px;
    }
}

